<% provide(:title, 'Home') %>
<h1>Landing page</h1>
<div id="info">
  <% if logged_in? %>
    <h1>You are logged in.</h1>
  <% else %>
    <h1>You are not logged in.</h1>
  <% end %>
</div>
<% if logged_in? %>
    <%= render 'static_pages/friends' %>
<% end %>
<h1>The Wall</h1>
<%= render @current_user.feed %>
<hr>
<%= render @users %>