<% provide(:title, "All Users") %>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h1>All users</h1></div>
</div>
<div class="row">
  <%= render @users %>
</div>

<%= will_paginate @users %>

<script>
    var max, maximum;

    max = function () {
        var output;
        output = 0;
        $('.user-tile').each(function () {
            var h;
            h = $(this).height();
            if (h > output) {
                return output = h;
            }
        });
        return output;
    };

    maximum = max();

    $('.user-tile').each(function () {
        return $(this).height(maximum);
    });

</script>