<% provide(:title, "All Users") %>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h1>All users</h1></div>
</div>
<div class="row">
  <%= render @users %>
</div>

<%= will_paginate @users %>

<script>
    equalize();

</script>