<% provide(:title, "#{@user.username}'s dialogs") %>
<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
    <% if @user.dialogs.any? %>
        <h1>Your dialogs</h1>
        <ul class="list-unstyled">
          <% @user.dialogs.each do |dialog| %>
              <li><%= link_to dialog.name, dialog_path(dialog.id), remote: true %></li>
          <% end %>
        </ul>
    <% else %>
        <h1>You have no dialogs</h1>
    <% end %>
    <%= link_to 'Create dialog', new_dialog_path %></div>
  <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" id="dialog_field">

  </div>
</div>