$font-size-base: 14px;
@import "bootstrap";


hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: $text-color;
  background-color: $text-color;
}

p {
  margin-bottom: 7px;
}

tr > td {
  border-top: none;
}

.dialog {
  margin-bottom: 10px;
}

.dialog_header {
  margin-top: 0;
}

#chat-scroll {
  height: 500px;
  overflow-y: scroll;
}

#message_content {
  margin-top: 5px;
}

.user-tile {
  margin-bottom: 10px;
}

.post_image {
  display: block;
  margin: 5px auto 5px auto;
}

.post {
//  border-bottom: 1px solid;
//  margin-top: 10px;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #ddd;

}

.delete {
  float: right;
}

.btn {
  margin-bottom: 10px;

}

.table-info {
  margin-top: 22px;
}

.main-header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.pagination {
  margin-bottom: 0;
}