$font-size-base: 16px;
@import "bootstrap";


hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: $text-color;
  background-color: $text-color;
}

p {
  margin-bottom: 7px;
}

tr > td {
  border-top: none;
}

.dialog {
  margin-bottom: 10px;
}