<h1>Search</h1>
<%= form_for :search, url: search_path do |f| %>
    <%= f.label 'Enter email' %>
    <%= f.email_field :email, class: 'form-control' %>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>